aws_region          = "us-east-1"
instance_type       = "t3.medium"
ami_id              = "ami-0c7217cdde317cfec"
public_key_path     = "~/.ssh/id_rsa.pub"
dockerhub_username  = "avinashsingh12"
dockerhub_password  = "01Avni10@"
mysql_root_password = "StrongPassword123!"
gemini_api_key      = "AIzaSyBUUsHdpgLEG_7gqyfaq8MGSWHvwFCLBtw"
image_tag           = "latest"
